<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IntelliFactory.Xml" version="0.6.63.95" targetFramework="net4" />
  <package id="WebSharper" version="3.5.12.213" targetFramework="net4" />
  <package id="WebSharper.Google.Maps" version="3.5.5.98" targetFramework="net4" />
  <package id="WebSharper.Html" version="3.5.8.9" targetFramework="net4" />
</packages>